.imgPag {
  width: 49.074px;
  height: 53.535px;
  margin-left: 225px;
  position: relative;
  display: inline-block;
  vertical-align: middle;
  margin-top: -5px;
  margin-bottom: 40px;
}

div.menu {
    background: var(--Cinder-800, #133379);
    width: 110px;
    height: 1085px;
    flex-shrink: 0;
}
div.seleccionado {
    border-radius: 0px 20px 20px 0px;
    background: var(--Cinder-50, #F1F5FE);
    display: flex;
    width: 101px;
    height: 82px;
    margin-top: 2px;
    padding: 15px 21px 15px 28px;
    justify-content: flex-end;
    align-items: center;
    flex-shrink: 0;
    
    color: var(--Cinder-50, #F1F5FE);
    font-family: Inter;
    font-size: 32px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}