<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Document</title>
    </head>
    <body>

        <div id="bloqueInicio">

          <div id="bloqueLogin">

            <img id="logo" src="./multimedia/62b84ff960413b26d040845f90f07b02.png" alt="">

            <p><span class="transit">Transit</span><span class="guion">-</span><span class="port">Port</span></p>
            <p id="welcome">Inicia sesión para acceder a tu cuenta</p>
            <p id="welcome2">¡Bienvenido!</p>

            <hr>

            <form action="post">

              <input type="email" name="" id="">
              <input type="password" name="" id="">

              <label for="recordar">Recordar usuario</label>
              <input id="recordar" type="checkbox" name="" id="">

              <input type="submit" value="INICIAR SESIÓN">

            </form>

          </div>



        </div>

    </body>
</html>
