

        <div id="bloqueInicio">

          <div id="bloqueLogin">

            <img id="logo" src="./assets/Logo.png" alt="">

            <p><span class="transit">Transit</span><span class="guion">-</span><span class="port">Port</span></p>
            <p id="welcome">Inicia sesión para acceder a tu cuenta</p>
            <p id="welcome2">¡Bienvenido!</p>

            <hr>

            <form action="post">

              <input type="email" name="" id=""><br><br>
              <input type="password" name="" id=""><br><br>

              <label for="recordar" class="form-check-label">Recordar usuario</label>
              <input id="recordar" class="form-check-input" type="checkbox" name="" id="">
              <br><br>

              <input type="submit" value="INICIAR SESIÓN">

            </form>
          </div>

            <div id="imagenInicio">

              <img id="imagenIni" src="./assets/group-16.png" alt="">

            </div>

        </div>

