* {
  margin: 0;
  padding: 0;
}

.navbar-nav {
  padding: 0;
  margin: 0;
  height: 100%;
  background: var(--Cinder-800, #133379);
}

a {
  color: #f1f5fe;
  text-decoration: none;
  font-weight: bolder;
  display: inline-flex;
  padding: 15px 33px 15px 52px;
  justify-content: left;
  align-items: center;
  gap: 16px;
  width: 95%;
  border-radius: 0px 20px 20px 0px;
  background: #133379;
  margin: 0;
}

a:hover {
  color: #f1f5fe;
  text-decoration: none;
  font-weight: bolder;
  display: inline-flex;
  padding: 15px 33px 15px 52px;
  justify-content: left;
  align-items: center;
  gap: 16px;
  width: 95%;
  border-radius: 0px 20px 20px 0px;
  background: #133379;
  margin: 0;
}

.actual {
  color: #040813;
  background-color: #f1f5fe;
  text-decoration: none;
  font-weight: bolder;
  margin: 0;
}

.actual:hover {
  color: #040813;
  background-color: #f1f5fe;
  text-decoration: none;
  font-weight: bolder;
  margin: 0;
}

.actual > svg > path {
  stroke: var(--Cinder-50, #040813);
}

.logout > svg > path {
  stroke-width: 0.3;
}

.perfil > a {
  color: var(--Cinder-50, #f1f5fe);
  font-family: Inter;
  font-size: 28px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}

.perfil {
  margin-bottom: 20px;
}

.perfil > a > img {
  width: 114px;
  height: 114px;
  border-radius: 57px;
  margin-top: 20px;
}

button {
  position: absolute;
  margin: 20px;
  background: none;
  border: none;
}
