<div class="menuMovil">
  <div class="row-12 menu">
    <a [class.selected]="isSelected('ver-citas')" routerLink="ver-citas">
      <div class="imagenLink">
        <img class="primeraImg imgMenu" src="./assets/Gestor/ordenes.svg" alt="">
        <span>Ver citas</span>
      </div>
    </a>

    <a [class.selected]="isSelected('ver-transportes')" routerLink="ver-transportes">
      <div class="imagenLink">
        <img class="primeraImg imgMenu" src="./assets/Administrativo/RegistrarVehiculo.svg" alt="">
        <span>Transportes</span>
      </div>
    </a>

    <a [class.selected]="isSelected('perfil-cliente')" routerLink="perfil-cliente">
      <div class="imagenLink">
        <img class="primeraImg imgMenu" src="./assets/Client/Perfil.png" alt="">
        <span>Perfil</span>
      </div>
    </a>
  </div>
</div>
