<div>
    <table>
        <tr>
            <td><a routerLink="crear-orden">Crear Orden</a></td>
            <td><a routerLink="crear-turno">Crear Turno</a></td>
            <td><a routerLink="monitorizar-orden">Monitorizar Orden</a></td>
            <td><a routerLink="buscar-contenedor">Buscar Contenedor</a></td>
            <td><a routerLink="realizar-auditoria">Realizar Auditoria</a></td>
            <td><a routerLink="incidencias">Incidencias</a></td>
        </tr>
    </table>
</div>
<div class="menu">
    <div class="seleccionado">

    </div>
</div>
<button class="aceptar">Crear</button>
<button class="cancelar">Cancelar</button>
<router-outlet />