<div class="menuCompleto">
  @if (rol == 'gestor') {
    <div>
      <div class="col-12 menu">
        <a routerLink="/perfil-ordenador">
        <img class="perfil" src="./assets/Gestor/gestor.png" alt="">
        </a>
        <a class="nav-link d-flex flex-column">
          <div class="imagenLink">
            <img class="primeraImg imgMenu" src="./assets/Gestor/usuariosCrearVer.svg" alt="">
            <span>Crear Usuario</span>
          </div>
        </a><br>
        <a class="nav-link d-flex flex-column" routerLink="usuarios">
          <div class="imagenLink">
            <img class="imgMenu" src="./assets/Gestor/usuarios.svg" alt="">
            <span>Ver usuarios</span>
          </div>
        </a><br>
        <a class="nav-link d-flex flex-column">
          <div class="imagenLink">
            <img class="imgMenu" src="./assets/Gestor/crearGruas.png" alt="">
            <span>Crear Grua</span>
          </div>
        </a><br>
        <a class="nav-link d-flex flex-column">
          <div class="imagenLink">
            <img class="imgMenu" src="./assets/Gestor/crearPatio.png" alt="">
            <span>Crear Patio</span>
          </div>
        </a><br>
        <a class="nav-link d-flex flex-column" routerLink="gestionar-gruas">
          <div class="imagenLink">
            <img class="imgMenu" src="./assets/Gestor/gestionarGruas.png" alt="">
            <span>Gestionar Gruas</span>
          </div>
        </a><br>
        <a class="nav-link d-flex flex-column" routerLink="empresas">
          <div class="imagenLink">
            <img class="imgMenu" src="./assets/Gestor/CrearEmpresa.svg" alt="">
            <span>Ver empresas</span>
          </div>
        </a><br>
      </div>

    </div>
  }
  @if (rol == 'administrativo') {
    <div class="menu">
      <a routerLink="/perfil-ordenador">
      <img class="perfil" src="./assets/Administrativo/perfil.svg" alt="">
      </a>
      <a class="nav-link d-flex flex-column" routerLink="crear-turno">
        <div class="imagenLink">
          <img class="imgMenu" src="./assets/Administrativo/crearTurno.png" alt="">
          <span>Crear Turno</span>
        </div>
      </a><br>
      <a class="nav-link d-flex flex-column">
        <div class="imagenLink">
          <img class="imgMenu" src="./assets/Administrativo/asignarTurno.png" alt="">
          <span>Asignar turno</span>
        </div>
      </a><br>
      <a class="nav-link d-flex flex-column" routerLink="monitorizar-orden">
        <div class="imagenLink">
          <img class="imgMenu" src="./assets/Administrativo/monitorizarOrden.png" alt="">
          <span>Monitorizar Orden</span>
        </div>
      </a><br>
      <a class="nav-link d-flex flex-column" routerLink="buscar-contenedor">
        <div class="imagenLink">
          <img class="imgMenu" src="./assets/Administrativo/buscarContenedor.png" alt="">
          <span>Buscar Contenedor</span>
        </div>
      </a><br>
      <a class="nav-link d-flex flex-column" routerLink="incidencias">
        <div class="imagenLink">
          <img class="imgMenu" src="./assets/Administrativo/incidencias.png" alt="">
          <span>Incidencias</span>
        </div>
      </a><br>
      <a class="nav-link d-flex flex-column" routerLink="citas">
        <div class="imagenLink">
          <img class="imgMenu" src="./assets/Administrativo/GestionarCitasVer.svg" alt="">
          <span>Citas</span>
        </div>
      </a><br>
      <a class="nav-link d-flex flex-column" routerLink="vehiculos">
        <div class="imagenLink">
          <img class="imgMenu" src="./assets/Administrativo/RegistrarVehiculo.svg" alt="">
          <span>Registrar Vehiculo</span>
        </div>
      </a><br>
    </div>
  }

  <a class="home" (click)="logout()">
    <img class="imgMenu" src="./assets/home.svg" alt="Cerrar sesión">
    <span>Logout</span>
  </a>
</div>
