div.menu {
  background: var(--Cinder-800, #133379);
  height: 100%;
  flex-shrink: 0;
  padding-right: 10px;
}

div.seleccionado {
  border-radius: 0px 20px 20px 0px;
  background: var(--Cinder-50, #f1f5fe);
  display: flex;
  width: 101px;
  height: 82px;
  margin-top: 2px;
  padding: 15px 21px 15px 28px;
  justify-content: flex-end;
  align-items: center;
  flex-shrink: 0;
  color: var(--Cinder-50, #f1f5fe);
  font-family: Inter;
  font-size: 32px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

.imgMenu {
  width: 53px;
  height: 53px;
  flex-shrink: 0;
  margin-left: 24px;
  cursor: pointer;
  overflow: hidden;
  margin-bottom: 20px;
}

.primeraImg {
  margin-top: 50px;
}

.home {
  width: 56px;
  height: 50px;
  flex-shrink: 0;
  position: relative;
  margin-top: 250%;
}

.perfil {
  border-radius: 51px;
  width: 81px;
  height: 86px;
  flex-shrink: 0;
  margin-left: 10px;
  margin-top: 40px;
}
