<div class="contenedor-tabla-ordenes">
  <div class="table-container">
    <table class="d-flex flex-column">
      <thead>
        <tr class="d-flex justify-content-between">
          <th>Informacion</th>
          <th>Buque</th>
          <th>Tipo de órden</th>
        </tr>
      </thead>
      <tbody>


          <tr (click)="pulsarOrden()" class="orden orden-carga actual d-flex justify-content-between" >
              <td><span>Hora de inicio:</span>12:00</td>
              <td>Santa Maria</td>
              <td>Carga</td>
          </tr>

          <tr class="orden orden-carga d-flex justify-content-between">
            <td>X te asignó una orden</td>
            <td>Santa Maria</td>
            <td>Carga</td>
          </tr>

        <tr class="orden orden-descarga d-flex justify-content-between">
          <td>X te asignó una orden</td>
          <td>Santa Maria</td>
          <td>Carga</td>
        </tr>

        <tr class="orden orden-carga d-flex justify-content-between">
          <td>X te asignó una orden</td>
          <td>Santa Maria</td>
          <td>Carga</td>
        </tr>

        <tr class="orden orden-descarga d-flex justify-content-between">
          <td>X te asignó una orden</td>
          <td>Santa Maria</td>
          <td>Carga</td>
        </tr>

        <tr class="orden orden-carga d-flex justify-content-between">
          <td>X te asignó una orden</td>
          <td>Santa Maria</td>
          <td>Carga</td>
        </tr>

        <tr class="orden orden-descarga d-flex justify-content-between">
          <td>X te asignó una orden</td>
          <td>Santa Maria</td>
          <td>Carga</td>
        </tr>

        <tr class="orden orden-descarga d-flex justify-content-between">
          <td>X te asignó una orden</td>
          <td>Santa Maria</td>
          <td>Carga</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>

<div class="contenedor-tabla">

  <table datatable [dtOptions]="dtOptions" class="table table-hover">

    <thead>
      <tr>
        <th>Información</th>
        <th>Buque</th>
        <th>Tipo de órden</th>
      </tr>
    </thead>
    <tbody>



    </tbody>


  </table>

</div>
