.contenedor-tabla {
  max-height: 792px;
  overflow: auto;
}

.imgPag {
  width: 49.074px;
  height: 53.535px;
  margin-left: 20px;
  position: relative;
  display: inline-block;
  vertical-align: middle;
}

.tituloSecc {
  width: 390px;
  height: 58px;
  color: #000;
  font-size: 40px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  position: relative;
  display: inline-block;
  vertical-align: middle;
  margin-left: 10px;
  margin-top: 10px;
}

table {
  width: 1387px;
  background-color: var(--Cinder-50, #f1f5fe);
  margin-left: 250px;
  overflow: auto;
}

th {
  background-color: #152d65;
  color: white;
  width: 1477px;
  height: 80px;
  color: var(--Cinder-50, #f1f5fe);
  text-align: center;
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  padding: 30px;
}

tr {
  width: 1477px;
  height: 80px;
  flex-shrink: 0;
  background-color: #fff;
  color: #000;
  text-align: center;
  font-size: 24px;
  font-style: normal;
  font-weight: 300;
  line-height: normal;
}

td {
  text-align: center;
  font-size: 24px;
  font-style: normal;
  font-weight: 300;
  line-height: normal;
  padding: 30px;
}

.seleccionarTabla {
  margin-right: 10px;
}
