<img class="imgPag" src="./assets/Gestor/usuariosVer.svg" alt=""><p class="tituloSecc">Usuarios</p>


<div class="contenedor-busqueda">

  <input class="input-busqueda" type="text" placeholder="Búsqueda...">

</div>

<div class="contenedor-botones">

  <input type="checkbox" name="" id="seleccionar">
  <p>0 Seleccionados</p>
  <button class="boton">Crear</button>
  <button class="boton">Eliminar</button>
</div>



<div class="contenedor-tabla">
  <table datatable class="table ">

    <thead>
      <tr>
        <th>Cargo</th>
        <th>Nombre empleado/a</th>
        <th>Estado</th>
      </tr>
    </thead>
    <tbody>
      <tr>

        <td><form action="post">
          <input class="seleccionarTabla" type="checkbox" name="" id="">
        </form>Operador</td>
        <td>Juan Sánchez</td>
        <td>Activo</td>
      </tr>
      <tr>
        <td><form action="post">
          <input class="seleccionarTabla" type="checkbox" name="" id="">
        </form>Administrativo</td>
        <td>María Fuster</td>
        <td>Inactivo</td>
      </tr>
      <tr>
        <td><form action="post">
          <input class="seleccionarTabla" type="checkbox" name="" id="">
        </form>3</td>
        <td>Alberto</td>
        <td>Francés</td>
      </tr>
      <tr>
        <td><form action="post">
          <input class="seleccionarTabla" type="checkbox" name="" id="">
        </form>4</td>
        <td>Yoda</td>
        <td>Skywalker</td>
      </tr>
      <tr>
        <td><form action="post">
          <input class="seleccionarTabla" type="checkbox" name="" id="">
        </form>5</td>
        <td>Marinette</td>
        <td>Dupont</td>
      </tr>
      <tr>
        <td><form action="post">
          <input class="seleccionarTabla" type="checkbox" name="" id="">
        </form>6</td>
        <td>Barack</td>
        <td>Obama</td>
      </tr>
      <tr>
        <td>7</td>
        <td>François</td>
        <td>Holland</td>
      </tr>
      <tr>
        <td>8</td>
        <td>Michel</td>
        <td>Popo</td>
      </tr>
      <tr>
        <td>9</td>
        <td>Chuck</td>
        <td>Norris</td>
      </tr>
      <tr>
        <td>12</td>
        <td>Zelda</td>
        <td>Link</td>
      </tr>
    </tbody>
  </table>
</div>

<ng-container cdkColumnDef="username">
  <cdk-table [dataSource]="dataSource">
    <!-- User name Definition -->
    <ng-container cdkColumnDef="username">
      <cdk-header-cell *cdkHeaderCellDef> User name </cdk-header-cell>
      <cdk-cell *cdkCellDef="let row"> {{row.username}} </cdk-cell>
    </ng-container>
  
    <!-- Age Definition -->
    <ng-container cdkColumnDef="age">
      <cdk-header-cell *cdkHeaderCellDef> Age </cdk-header-cell>
      <cdk-cell *cdkCellDef="let row"> {{row.age}} </cdk-cell>
    </ng-container>
  
    <!-- Title Definition -->
    <ng-container cdkColumnDef="title">
      <cdk-header-cell *cdkHeaderCellDef> Title </cdk-header-cell>
      <cdk-cell *cdkCellDef="let row"> {{row.title}} </cdk-cell>
    </ng-container>
  
    <!-- Header and Row Declarations -->
    <cdk-header-row *cdkHeaderRowDef="['username', 'age', 'title']"></cdk-header-row>
    <cdk-row *cdkRowDef="let row; columns: ['username', 'age', 'title']"></cdk-row>
  </cdk-table>
</ng-container>