<div class="titulo"><img class="imgPag" src="./assets/Gestor/CrearEmpresa.svg" alt=""><p class="tituloSecc">Empresas</p></div>

<div class="crearNuevo">
  <button type="submit" class="btn btn-info botonCrear" onclick="location.href = 'gestor/crear-usuario'">Crear</button>
  <img src="./assets/Gestor/usuariosCrear.svg" class="botonImagen" alt="Crear usuario">

  <button type="button" class="btn btn-info botonFiltrar" (click)="abrirFiltro()">Filtrar</button>
  <img src="./assets/vector.svg" class="botonImagen3" alt="Filtrar">

</div>

<div class=" contenedor-tabla ">

  <table datatable [dtOptions]="dtOptions" class="table table-hover">
    <thead>
      <tr>
        <th>Nombre empleado/a</th>
        <th>Estado</th>
      </tr>
    </thead>
    <tbody>
      <td><div id="prueba"></div></td>
    </tbody>

  </table>
</div>
