<div class="contenedor-tabla">
    <table datatable [dtOptions]="dtOptions" class="table table-hover text-center" id="arriba">
        <thead>
          <tr>
            <th>Gruas</th>
            <th>Operador</th>
            <th>Buque</th>
          </tr>
        </thead>
        <tbody>

        </tbody>
    </table>

    <table datatable [dtOptions]="dtOptions2" class="table table-hover text-center" id="abajo">
        <thead>
          <tr>
            <th>Orden</th>
            <th>Tipo</th>
            <th>Turno</th>
            <th>Estado</th>
            <th>Historial</th>
          </tr>
        </thead>
        <tbody>

        </tbody>
    </table>
</div>