<img class="imgPag" src="./assets/Gestor/usuariosVer.svg" alt=""><p class="tituloSecc">Usuarios</p>

<div class="crearNuevo">
  <button type="submit" class="btn btn-info botonCrear" onclick="location.href = 'gestor/crear-usuario'">Crear</button>
  <img src="./assets/Gestor/usuariosCrear.svg" class="botonImagen">

  <button type="submit" class="btn btn-info botonEliminar" onclick="location.href = 'gestor/eliminar-usuario'">Eliminar</button>
  <img src="./assets/Gestor/binNegra.svg" class="botonImagen2">

</div>

<!-- <div class="eliminarUsuario">
  <button type="submit" class="btn btn-info botonEliminar" onclick="location.href = 'gestor/eliminar-usuario'">Eliminar</button>
  <img src="./assets/Gestor/bin.svg" class="botonImagen2">
</div> -->

<div class=" contenedor-tabla ">

  <table datatable [dtOptions]="dtOptions" class="table table-hover">
    <thead>
      <tr>
        <th>Cargo</th>
        <th>Nombre empleado/a</th>
        <th>Estado</th>
      </tr>
    </thead>
    <tbody>
      <td><div id="prueba"></div></td>
    </tbody>

  </table>
</div>
