<div id="bloqueInicio" class="d-flex align-items-center justify-content-center vh-100">

  <div class="d-flex">

    <div id="bloqueLogin" class="p-4 d-flex flex-column align-items-center justify-content-center"> <!-- bloque de la izquierda -->

      <div id="contenidoLogin">

          <div class="bloqueLogo d-flex align-items-center">
            <img id="logo" src="/assets/Logo.png" alt="Logo">
            <p>
              <span class="transit">RANSIT</span>
              <span class="guion">-</span>
              <span class="port">PORT</span>
            </p>
          </div>
          <div>
            <p id="welcome">Inicia sesión para acceder a tu cuenta</p>
            <p id="welcome2">¡Bienvenido!</p>

            <hr class="">
          </div>

            <form (ngSubmit)="onLogin()" method="post" class="w-100 d-flex flex-column align-items-center">

              <input class="form-control" [(ngModel)]="email" type="email" name="email" id="email" placeholder="E-mail"><br><br>
              <input class="form-control" [(ngModel)]="password" [type]="passwordTipo" name="password" id="password" placeholder="Contraseña"><br><br>
              <img [src]="iconoMostrarContrasenya" (click)="ocultarContrasenya()" id="verContrasenya" class="icono-ojo" alt="Mostrar contraseña">

              <div class="form-check d-flex align-items-center recordarForm">

              <input class="form-check-input me-2 recordarCheck" id="recordar" type="checkbox" name="">
              <label class="recordarUser form-check-label" for="recordar">Recordar usuario</label>

              </div>

              <input class="btn btn-dark mt-3 botonLogin" type="submit" value="INICIAR SESIÓN" >

            </form>
          </div>
    </div>

    <div id="imagenInicio"> <!-- bloque de la derecha -->
      <img id="imagenIni" src="./assets/group-16.png" alt="imagenIni">
    </div>

  </div>



</div>

