<div class="vh-100 vw-99 cuerpo">
  <div class="titulo d-flex flex-row align-items-center align-content-center">
    <svg xmlns="http://www.w3.org/2000/svg" width="56" height="55" viewBox="0 0 56 55" fill="none">
      <path d="M11.25 15.3126C11.25 11.362 12.8194 7.57315 15.6129 4.77964C18.4064 1.98613 22.1952 0.416748 26.1459 0.416748C30.0965 0.416748 33.8853 1.98613 36.6788 4.77964C39.4723 7.57315 41.0417 11.362 41.0417 15.3126C41.0417 19.2632 39.4723 23.052 36.6788 25.8455C33.8853 28.639 30.0965 30.2084 26.1459 30.2084C22.1952 30.2084 18.4064 28.639 15.6129 25.8455C12.8194 23.052 11.25 19.2632 11.25 15.3126ZM26.8229 54.5834H0.416687V49.1668C0.416687 44.857 2.12874 40.7237 5.1762 37.6763C8.22367 34.6288 12.3569 32.9168 16.6667 32.9167H26.8229V54.5834ZM32.2396 32.9167H55.2604V38.3334H32.2396V32.9167ZM32.2396 41.0418H55.2604V46.4584H32.2396V41.0418ZM32.2396 49.1668H55.2604V54.5834H32.2396V49.1668Z" fill="black"/>
    </svg>
    <h2>Mi perfil</h2>
  </div>

  <div class="body-perfil d-flex flex-column align-items-center justify-content-center">

    <img src="./assets/Operador/operador.jpg" alt="foto-perfil">

    <div class="info-perfil d-flex flex-row">

      <div class="input-perfil d-flex flex-column">

        <label>Nombre</label>
        <input type="text">

      </div>

      <div class="input-perfil d-flex flex-column">

        <label>Apellidos</label>
        <input type="text">

      </div>

      <div class="input-perfil d-flex flex-column">

        <label>Usuario</label>
        <input type="text">

      </div>

      <div class="input-perfil d-flex flex-column">

        <label>Teléfono</label>
        <input type="text">

      </div>

      <div class="input-perfil d-flex flex-column">

        <label>Ciudad</label>
        <input type="text">

      </div>

      <div class="input-perfil d-flex flex-column">

        <label>Código postal</label>
        <input type="text">

      </div>

      <div class="input-perfil email d-flex flex-column">

        <label>Email</label>
        <input type="text">

      </div>

    </div>

    <div class="boton-container d-flex">
      <button class="boton-perfil">Cerrar sesión</button>
    </div>

  </div>

</div>
