<div class="titulo"><img class="imgPag" src="./assets/Administrativo/monitorizarOrdenVer.png"><p class="tituloSecc">Monitorizar Orden</p></div>

<div class="crearNuevo">
  <button type="submit" class="btn btn-info botonCrear" onclick="location.href = 'administrativo/crear-orden'">Crear</button>
  <img src="./assets/Administrativo/crearOrdenVer.svg" class="botonImagen">

  <button type="submit" class="btn btn-info botonAuditoria">Auditoria</button>
  <img src="./assets/Administrativo/realizarAuditoriaVer.svg" class="botonImagen3">

  <button type="button" class="btn btn-info botonFiltrar" (click)="abrirFiltro()">Filtrar</button>
  <img src="./assets/vector.svg" class="botonImagen2" alt="Filtrar">

</div>

<div class="contenedor-tabla">
  <table datatable [dtOptions]="dtOptions" class="table table-hover text-center">
      <thead>
        <tr>
          <th></th>
          <th></th>
          <th></th>
        </tr>
      </thead>
      <tbody>

      </tbody>
  </table>
</div>