<div class="titulo">
  <img class="imgPag" src="./assets/Administrativo/RegistrarVehiculo.svg">
  <h1 class="tituloSecc">Transportes</h1>
</div>

<div class="filtrar">
  <button type="button" class="btn btn-info botonFiltrar" (click)="abrirFiltro()">Filtrar</button>
  <img src="./assets/vector.svg" class="botonImagen2" alt="Filtrar">
</div>

<div class="contenedor-tabla">
    <table datatable [dtOptions]="dtOptions" class="table table-hover text-center">
        <thead>
          <tr>
            <th>Código contenedor</th>
            <th>Estado</th>
          </tr>
        </thead>
        <tbody>

        </tbody>
    </table>
</div>
